body{
    height: 100vh;
    width: 100vw;
}

header{
    height: 10%;
    width: 100%;
    background-color: rgb(3, 3, 32);
    color: white;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

header img{
    height: 50px;
}

main{
    width: 100%;
    background-color: rgb(25, 15, 89);
}

.col{
    padding: 50px;
}

.row{
    height: 100%;
}

img{
    padding: 10px;
}

.card{
    background-color: rgb(3, 3, 32);
    color: white;
    padding: 30px;
    border-radius: 1rem;
    cursor: pointer;
}

h5{
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 2px;
}


#details-container{
    position: absolute;
    top: -20px;
    left: 0;
    height: 190%;
    width: 100%;
    background-color: #050b14d9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disc.single-disc{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.single-disc span{
    padding-top: 20px;
}

.close-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    transform: translate(-100%, 100%);
    display: flex;
    justify-content: stretch;
}

.close-button {
    flex-grow: 1;
    background-color: transparent;
    border: 1px solid lightgray;
    color: white;
    border-radius: 5px;
}

.close-button:hover {
    background-color: #707070;
    border: 1px solid darkgray;
}

